# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/test-results

# next.js
/.next/
/out/

# production

# production
/build

# misc
.DS_Store
*.pem
/tmp

# env files
.env*
*password*.txt
*contrase*.txt
*secret*.txt

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# scraper binaries & data
google_maps_scraper*
queries.txt
scraped-*.json
constructoras_*.json
webdata/
cache/
